body {
    display: flex;
    flex-direction: column;
}

.header1 {
    display: flex;
    padding: 0px 200px;
    align-items: center;
    justify-content: space-between;
    background-color: #8489B2;
}

.header2 {
    background-color: #B3B7DB;
    display: flex;
    justify-content: space-between;
    padding: 25px 200px;
}

.logo {
    display: flex;
    align-items: center;
}

.title {
    font-family: KiTestRings Arial, Helvetica;
    font-size: 30px;
    font-weight: 1000;
    color: #470464;
}

.icon {
    width: 50px;
    margin: 10px;
}

.welcome {
    display: flex;
    max-width: 400px;
    flex-direction: column;
    justify-content: center;
}

.info {
    font-family: "JMH Typewriter", Arial, Helvetica;
    display: flex;
    font-size: 34px;
    font-weight: 900;
    margin-bottom: 16px;
}

.subtext {
    font-family: "JMH Typewriter", Arial, Helvetica;
    font-size: 18px;
    font-weight: 500;
}

.btitle {
    text-align: center;
    font-family: Arial, Helvetica;
    font-size: 24px;
    font-weight: 900;
    margin: 20px;
}

button {
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    background: #470464;
    margin-top: 16px;
    color: white;
}

img {
    display: flex;
    width: 300px;
}

.header2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.games {
    display: flex;
    justify-content: space-around;
}

.zelda {
    width: 175px;
    height: 175px;
}

.mario {
    width: 175px;
    height: 175px;
}

.sekiro {
    width: 175px;
    height: 175px;
    border-radius: 15%;
}

.hlinks {
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    display: flex;
    padding: 0px;
    gap: 40px;
    font-size: 18px;
    font-weight: 900;
}

a {
    text-decoration: none;
    color: #470464;
}