@font-face {
    font-family: "JMH Typewriter";
    src: url(Fonts/JMH\ Typewriter.ttf);
}

body {
    display: flex;
    flex-direction: column;
}

.header1 {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 200px;
    align-items: center;
    justify-content: space-between;
    background-color: #8489B2;
}

.header2 {
    background-color: #B3B7DB;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 100px 200px;
}

.logo {
    display: flex;
    align-items: center;
}

.title {
    font-family: KiTestRings Arial, Helvetica;
    font-size: 30px;
    font-weight: 1000;
    color: #470464;
}

.icon {
    width: 50px;
    margin: 10px;
    border-radius: 100%;
}

.welcome {
    display: flex;
    max-width: 400px;
    flex-direction: column;
    justify-content: center;
}

.info {
    font-family: "JMH Typewriter", Arial, Helvetica;
    display: flex;
    font-size: 34px;
    font-weight: 900;
    margin-bottom: 16px;
}

.subtext {
    font-family: "JMH Typewriter", Arial, Helvetica;
    font-size: 18px;
    font-weight: 500;
}

.btitle {
    text-align: center;
    font-family: "JMH Typewriter", Arial, Helvetica;
    font-size: 32px;
    font-weight: 900;
    margin: 20px;
}

button {
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    background: #470464;
    margin-top: 16px;
    cursor: pointer;
    color: white;
    box-shadow: 0px 4px #999;
}

button:active {
    box-shadow: 0px 1px;
    transform: scale(0.98);
}

img {
    display: flex;
    width: 300px;
}

.header2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.games {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 32px
}

.game {
    display: flex;
    flex-direction: column;
    max-width: 175px;
    gap: 24px;
}

.text {
    font-family: "JMH Typewriter", Arial, Helvetica;
}

.zelda {
    width: 175px;
    height: 175px;
}

.mario {
    width: 175px;
    height: 175px;
}

.sekiro {
    width: 175px;
    height: 175px;
    border-radius: 20%;
}

.minecraft {
    width: 175px;
    height: 175px;
}

.hlinks {
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    display: flex;
    padding: 0px;
    gap: 40px;
    font-size: 18px;
    font-weight: 900;
}

.quote {
    font-size: 44px;
    padding: 100px 80px;
    margin-top: 30px;
    background-color: #c6c9e0;
    font-family: "JMH Typewriter", Arial, Helvetica;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    font-family: "JMH Typewriter", Arial, Helvetica;
    font-size: 24px;
    color: white;
    background-color: rgb(80, 91, 238);
    margin: 80px;
    padding: 40px;
}

.follow {
    color: black;
    margin-bottom: 20px;
    font-size: 40px;
}

.footer {
    text-align: center;
    padding: 30px;
    background-color: #c6c9e0;
}

a {
    text-decoration: none;
    color: #470464;
}